<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"]</title>
</head>
<body>

    <header>
        <h2>MiniCasino Admin Panel</h2>
        <hr />
    </header>

    <main>
        @RenderBody()
    </main>

</body>
</html>